body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 97%);
    color: #333333;
  }
  
  .container {
    width: 80%;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  .container h1 {
    text-align: center;
  }
  .quote-container {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #888888;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    #previousBtn {
      background-color: #5783db;
      color: white;
    }
    #previousBtn:hover {
      background-color: #4681f4;
    }
    #randomBtn {
      background-color: #80669d;
      color: white;
    }
    #randomBtn:hover {
      background-color: #a881af;
    }
    #nextBtn {
      background-color: #5adbb5;
      color: white;
    }
    #nextBtn:hover {
      background-color: #5dbea3;
    }
    
  }
  
  .options {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;

    #decreaseFont {
      color: red;
      background-color: #fffaf0;
    }
    #increaseFont {
      color: blue;
      background-color: #fffaf0;
    }

    .category {
      width: 50%;
    }
    .font{
      width: 50%;
    }
  }
  
  button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  select, input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }

  #darkMode {
    background-color: #333333;
    color: white;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .dark-mode {
    background-color: #333333;
    color: #333333;
  } 

  .dark-button{
    background-color: black;
    color: white;
  }
  
  
  